<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco cloud login</title>
</head>
<body>

<h1>Login</h1>

<div th:if="${param.error}">
    Unable to login. Check your username and password.<br/>
</div>

<form method="POST" th:action="@{/login}" id="loginForm">

    <label for="username">Username: </label>
    <input type="text" name="username" id="username"><br/>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password"><br/>

    <input type="submit" value="Log in"><br/>

</form>

</body>
</html>